dify/backup/marvin/dsl/batchCopyAmzProductionByAsin.yml
app:
  description: 电商‘推荐热词’拷贝为新品并发布到阿里国际站
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: batchCopyAmzProductionByAsin
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1743391411926-source-1743393222462-target
      source: '1743391411926'
      sourceHandle: source
      target: '1743393222462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1743393222462-source-1743652902185-target
      source: '1743393222462'
      sourceHandle: source
      target: '1743652902185'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: end
      id: 1743652902185-source-1743391727819-target
      source: '1743652902185'
      sourceHandle: source
      target: '1743391727819'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743652902185'
        sourceType: iteration-start
        targetType: tool
      id: 1743652902185start-source-1743672705959-target
      source: 1743652902185start
      sourceHandle: source
      target: '1743672705959'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743652902185'
        sourceType: tool
        targetType: code
      id: 1743672705959-source-1743661354687-target
      source: '1743672705959'
      sourceHandle: source
      target: '1743661354687'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: product_type
          max_length: 200
          options: []
          required: true
          type: text-input
          variable: product_type
        - label: data_type
          max_length: 100
          options: []
          required: true
          type: text-input
          variable: data_type
        - label: asins
          max_length: 5000
          options: []
          required: true
          type: paragraph
          variable: asins
        - label: hotword
          max_length: 128
          options: []
          required: true
          type: paragraph
          variable: hotword
      height: 167
      id: '1743391411926'
      position:
        x: -125.05280645115252
        y: -92.97336180563767
      positionAbsolute:
        x: -125.05280645115252
        y: -92.97336180563767
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743652902185'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1743391727819'
      position:
        x: 999.9870348957352
        y: -13.587169805866026
      positionAbsolute:
        x: 999.9870348957352
        y: -13.587169805866026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(product_type:str, data_type:str, json_str:\
          \ str) -> dict:\n\n    expanded_data = json.loads(json_str)[\"asins\"][:30]\n\
          \n    return {\n        \"product_type\": product_type,\n        \"data_type\"\
          : data_type,\n        \"size\": len(expanded_data),\n        \"asins\":\
          \ expanded_data\n    }"
        code_language: python3
        desc: ''
        outputs:
          asins:
            children: null
            type: array[string]
          data_type:
            children: null
            type: string
          product_type:
            children: null
            type: string
          size:
            children: null
            type: number
        selected: true
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1743391411926'
          - product_type
          variable: product_type
        - value_selector:
          - '1743391411926'
          - data_type
          variable: data_type
        - value_selector:
          - '1743391411926'
          - asins
          variable: json_str
      height: 53
      id: '1743393222462'
      position:
        x: -125.05280645115252
        y: 207.92591432252908
      positionAbsolute:
        x: -125.05280645115252
        y: 207.92591432252908
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 178
        is_parallel: true
        iterator_selector:
        - '1743393222462'
        - asins
        output_selector:
        - '1743661354687'
        - result
        output_type: array[string]
        parallel_nums: 2
        selected: false
        start_node_id: 1743652902185start
        title: 迭代
        type: iteration
        width: 688
      height: 178
      id: '1743652902185'
      position:
        x: 225.62075710217698
        y: -13.587169805866026
      positionAbsolute:
        x: 225.62075710217698
        y: -13.587169805866026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 688
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1743652902185start
      parentId: '1743652902185'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 249.62075710217698
        y: 54.412830194133974
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "\ndef main(item: str, index: int, message: str) -> dict:\n    msg_str\
          \ = json.loads(message)[\"output\"]\n    msg = json.loads(msg_str)[\"body\"\
          ]\n    result_dict = {\n        \"index\": (index + 1),\n        \"asin\"\
          : item,\n        \"result\": msg\n    }\n    result_json_str = json.dumps(result_dict,\
          \ ensure_ascii=False)\n    \n    return {\n        \"result\": result_json_str\n\
          \    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743652902185'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 提取执行结果
        type: code
        variables:
        - value_selector:
          - '1743652902185'
          - item
          variable: item
        - value_selector:
          - '1743652902185'
          - index
          variable: index
        - value_selector:
          - '1743672705959'
          - text
          variable: message
      height: 53
      id: '1743661354687'
      parentId: '1743652902185'
      position:
        x: 428
        y: 69.2627944973446
      positionAbsolute:
        x: 653.620757102177
        y: 55.675624691478575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1743652902185'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: ASIN码
            ja_JP: ASIN码
            pt_BR: ASIN码
            zh_Hans: ASIN码
          llm_description: ''
          max: null
          min: null
          name: asin
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          asin: ''
        provider_id: ca6ab1be-7d56-4b3d-b308-6dcbc5e0fb04
        provider_name: singleCopyAmzProductionByAsin
        provider_type: workflow
        selected: false
        title: singleCopyAmzProductionByAsin
        tool_configurations: {}
        tool_label: singleCopyAmzProductionByAsin
        tool_name: singleCopyAmzProductionByAsin
        tool_parameters:
          asin:
            type: mixed
            value: '{{#1743652902185.item#}}'
          data_type:
            type: mixed
            value: '{{#1743391411926.data_type#}}'
          hotword:
            type: mixed
            value: '{{#1743391411926.hotword#}}'
          keyword:
            type: mixed
            value: '{{#1743391411926.keyword#}}'
          product_type:
            type: mixed
            value: '{{#1743393222462.product_type#}}'
        type: tool
      height: 53
      id: '1743672705959'
      parentId: '1743652902185'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 353.620757102177
        y: 54.412830194133974
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    viewport:
      x: 273.0370885783707
      y: 350.2223874668253
      zoom: 0.7388636823091664
