dify/backup/marvin/dsl/getRandomScenes.yml
app:
  description: 基于amazon商品创建新品并发布_推荐热词版
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: getRandomScenes
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1744361693115-source-1743485700810-target
      source: '1744361693115'
      sourceHandle: source
      target: '1743485700810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1743484650099-source-1744361693115-target
      source: '1743484650099'
      sourceHandle: source
      target: '1744361693115'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1743484650099'
      position:
        x: -739.7123399877539
        y: 344.70335236542644
      positionAbsolute:
        x: -739.7123399877539
        y: 344.70335236542644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1744361693115'
          - maskwords
          variable: maskwords
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1743485700810'
      position:
        x: 579.8891782067012
        y: 344.70335236542644
      positionAbsolute:
        x: 579.8891782067012
        y: 344.70335236542644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport random\n\ndef main() -> dict:\n    surface_locations\
          \ = [\n        \"Mug surface\",\n        \"Luggage shell\",\n        \"\
          Laptop lid (top case)\",\n        \"Back of phone case\",\n        \"Leather\
          \ diary cover\",\n        \"Ceramic vase surface\",\n        \"Glass spice\
          \ jar body\",\n        \"Metal keychain tag\",\n        \"Front of canvas\
          \ shopping bag\",\n        \"Leather wallet lining\",\n        \"Magnetic\
          \ area on fridge door\",\n        \"Bathroom mirror frame\",\n        \"\
          Children's room window glass\",\n        \"Lampshade on bedside lamp\",\n\
          \        \"Corner of wooden photo frame\",\n        \"Armrest of fabric\
          \ sofa\",\n        \"Decorative area on tile wall\",\n        \"Side of\
          \ storage box\",\n        \"Edge of bookshelf shelf\",\n        \"Hem pattern\
          \ of curtain\",\n        \"Tablet protective case\",\n        \"Bluetooth\
          \ earbud charging case\",\n        \"Smartwatch strap\",\n        \"Monitor\
          \ bezel\",\n        \"Game controller grip\",\n        \"Greeting card display\
          \ stand\",\n        \"Acrylic sticker display rack\",\n        \"Camera\
          \ body leatherette\",\n        \"Side of power bank\",\n        \"Spacebar\
          \ area on keyboard\",\n        \"Bicycle top tube\",\n        \"Skateboard\
          \ deck design\",\n        \"Trekking pole grip\",\n        \"Handle of picnic\
          \ basket\",\n        \"Tent door flap\",\n        \"Tail of surfboard\"\
          ,\n        \"Cap of sports water bottle\",\n        \"Stationery organizer\
          \ box\",\n        \"Tennis racket string area\",\n        \"Upper of roller\
          \ skate\",\n        \"Spine of binder\",\n        \"Decorative part of fountain\
          \ pen barrel\",\n        \"Corner of sticky notes\",\n        \"Seal of\
          \ document pouch\",\n        \"Knot of bookmark string\",\n        \"Top\
          \ of pencil sharpener\",\n        \"Wooden multi-tier shelf\",\n       \
          \ \"Base of tape dispenser\",\n        \"Surface of smart scale\",\n   \
          \     \"Shop window static sticker\"\n    ]\n\n    # 从列表中随机选择 5 个元素\n  \
          \  selected_locations = random.sample(surface_locations, 5)\n    maskwords\
          \ = \",\".join(selected_locations)\n\n    return {\n        \"maskwords\"\
          : maskwords\n    }"
        code_language: python3
        desc: ''
        outputs:
          maskwords:
            children: null
            type: string
        selected: true
        title: 代码执行
        type: code
        variables: []
      height: 53
      id: '1744361693115'
      position:
        x: -185.89753379906767
        y: 344.70335236542644
      positionAbsolute:
        x: -185.89753379906767
        y: 344.70335236542644
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 883.9272134403188
      y: 320.3300833175543
      zoom: 0.9575198014546972
