dify/backup/bbq/img2img.yml
app:
  description: 洗图
  icon: 🪞
  icon_background: '#FBE8FF'
  mode: workflow
  name: img2img
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/comfyui:0.0.4@8bb424227ceb2fef8f69c3505ab82b34d38a6291e385b482ab67a34c4cf2e656
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1744791472214'
        sourceType: iteration-start
        targetType: tool
      id: 1744791472214start-source-1744791503263-target
      source: 1744791472214start
      sourceHandle: source
      target: '1744791503263'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: end
      id: 1744791472214-source-1744791456210-target
      source: '1744791472214'
      sourceHandle: source
      target: '1744791456210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1744791447374-source-1744796267455-target
      source: '1744791447374'
      sourceHandle: source
      target: '1744796267455'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1744796267455-source-1744791472214-target
      source: '1744796267455'
      sourceHandle: source
      target: '1744791472214'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: img_str
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: img_str
      height: 90
      id: '1744791447374'
      position:
        x: 30
        y: 471
      positionAbsolute:
        x: 30
        y: 471
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1744791472214'
          - output
          variable: files
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1744791456210'
      position:
        x: 1086
        y: 471
      positionAbsolute:
        x: 1086
        y: 471
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 542
        is_parallel: false
        iterator_selector:
        - '1744796267455'
        - imgs
        output_selector:
        - '1744791503263'
        - files
        output_type: array[file]
        parallel_nums: 10
        selected: false
        start_node_id: 1744791472214start
        title: 迭代
        type: iteration
        width: 388
      height: 542
      id: '1744791472214'
      position:
        x: 638
        y: 471
      positionAbsolute:
        x: 638
        y: 471
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 388
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1744791472214start
      parentId: '1744791472214'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 662
        y: 539
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1744791472214'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Image prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 图像提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Image prompt, you should describe the image you want to
            generate as a list of words as possible as detailed, the prompt must be
            written in English.
          max: null
          min: null
          name: positive_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            ja_JP: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            pt_BR: Negative prompt, you can check the official documentation of Stable
              Diffusion or FLUX
            zh_Hans: 负面提示词，您可以查看 Stable Diffusion 或者 FLUX 的官方文档
          label:
            en_US: Negative Prompt
            ja_JP: Negative Prompt
            pt_BR: Negative Prompt
            zh_Hans: 负面提示词
          llm_description: Negative prompt, you should describe the image you don't
            want to generate as a list of words as possible as detailed, the prompt
            must be written in English.
          max: null
          min: null
          name: negative_prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The input images
            ja_JP: The input images
            pt_BR: The input images
            zh_Hans: 输入的图片
          label:
            en_US: Input Images
            ja_JP: Input Images
            pt_BR: Input Images
            zh_Hans: 输入的图片
          llm_description: The input images, used to transfer to the comfyui workflow
            to generate another image.
          max: null
          min: null
          name: images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: exported from ComfyUI workflow
            ja_JP: exported from ComfyUI workflow
            pt_BR: exported from ComfyUI workflow
            zh_Hans: 从ComfyUI的工作流中导出
          label:
            en_US: Workflow JSON
            ja_JP: Workflow JSON
            pt_BR: Workflow JSON
            zh_Hans: Workflow JSON
          llm_description: ''
          max: null
          min: null
          name: workflow_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            ja_JP: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            pt_BR: When the workflow has multiple image nodes, enter the ID list of
              these nodes, and the images will be passed to ComfyUI in the order of
              the list.
            zh_Hans: 当工作流有多个图片节点时，输入这些节点的ID列表，图片将按列表顺序传给ComfyUI
          label:
            en_US: Image Node ID List
            ja_JP: Image Node ID List
            pt_BR: Image Node ID List
            zh_Hans: 图片节点ID列表
          llm_description: ''
          max: null
          min: null
          name: image_ids
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            ja_JP: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            pt_BR: If you need to generate different images each time, you need to
              enter the ID of the seed node.
            zh_Hans: 如果需要每次生成时使用不同的种子，需要输入包含种子的节点的ID
          label:
            en_US: Seed Node Id
            ja_JP: Seed Node Id
            pt_BR: Seed Node Id
            zh_Hans: 种子节点ID
          llm_description: ''
          max: null
          min: null
          name: seed_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          image_ids: ''
          images: ''
          negative_prompt: ''
          positive_prompt: ''
          seed_id: ''
          workflow_json: ''
        provider_id: langgenius/comfyui/comfyui
        provider_name: langgenius/comfyui/comfyui
        provider_type: builtin
        selected: false
        title: 工作流
        tool_configurations:
          image_ids: '118'
          seed_id: null
          workflow_json: '{   "8": {     "inputs": {       "samples": [         "122",         0       ],       "vae":
            [         "10",         0       ]     },     "class_type": "VAEDecode",     "_meta":
            {       "title": "VAE解码"     }   },   "10": {     "inputs": {       "vae_name":
            "ae.safetensors"     },     "class_type": "VAELoader",     "_meta": {       "title":
            "加载VAE"     }   },   "113": {     "inputs": {       "filename_prefix":
            "ComfyUI",       "images": [         "8",         0       ]     },     "class_type":
            "SaveImage",     "_meta": {       "title": "保存图像"     }   },   "121":
            {     "inputs": {       "text": "",       "clip": [         "148",         0       ]     },     "class_type":
            "CLIPTextEncode",     "_meta": {       "title": "CLIP文本编码（提示）"     }   },   "122":
            {     "inputs": {       "seed": 977859214197684,       "steps": 8,       "cfg":
            1,       "sampler_name": "euler",       "scheduler": "sgm_uniform",       "denoise":
            0.3,       "model": [         "140",         0       ],       "positive":
            [         "137",         0       ],       "negative": [         "121",         0       ],       "latent_image":
            [         "135",         0       ]     },     "class_type": "KSampler",     "_meta":
            {       "title": "K采样器"     }   },   "129": {     "inputs": {       "upscale_method":
            "area",       "width": 800,       "height": 800,       "crop": "center",       "image":
            [         "149",         0       ]     },     "class_type": "ImageScale",     "_meta":
            {       "title": "图像放大"     }   },   "135": {     "inputs": {       "pixels":
            [         "129",         0       ],       "vae": [         "10",         0       ]     },     "class_type":
            "VAEEncode",     "_meta": {       "title": "VAE编码"     }   },   "137":
            {     "inputs": {       "clip_l": "IMG1024. CR2, Realistic, photography,cute",       "t5xxl":
            [         "142",         2       ],       "guidance": 4,       "clip":
            [         "148",         0       ]     },     "class_type": "CLIPTextEncodeFlux",     "_meta":
            {       "title": "CLIP文本编码Flux"     }   },   "139": {     "inputs": {       "anything":
            [         "142",         2       ]     },     "class_type": "easy showAnything",     "_meta":
            {       "title": "Show Any"     }   },   "140": {     "inputs": {       "unet_name":
            "flux1-dev-fp8-e4m3fn.safetensors",       "weight_dtype": "default"     },     "class_type":
            "UNETLoader",     "_meta": {       "title": "加载扩散模型"     }   },   "142":
            {     "inputs": {       "text_input": "",       "task": "more_detailed_caption",       "fill_mask":
            false,       "keep_model_loaded": false,       "max_new_tokens": 1024,       "num_beams":
            3,       "do_sample": false,       "output_mask_select": "",       "seed":
            759461548415882,       "image": [         "129",         0       ],       "florence2_model":
            [         "143",         0       ]     },     "class_type": "Florence2Run",     "_meta":
            {       "title": "Florence2Run"     }   },   "143": {     "inputs": {       "model":
            "microsoft/Florence-2-base",       "precision": "fp16",       "attention":
            "sdpa"     },     "class_type": "DownloadAndLoadFlorence2Model",     "_meta":
            {       "title": "DownloadAndLoadFlorence2Model"     }   },   "145": {     "inputs":
            {       "stop_at_clip_layer": -1     },     "class_type": "CLIPSetLastLayer",     "_meta":
            {       "title": "设置CLIP最后一层"     }   },   "148": {     "inputs": {       "clip_name1":
            "clip_l.safetensors",       "clip_name2": "t5xxl_fp8_e4m3fn.safetensors",       "type":
            "flux"     },     "class_type": "DualCLIPLoader",     "_meta": {       "title":
            "双CLIP加载器"     }   },   "149": {     "inputs": {       "url": "{{positive_prompt}}"     },     "class_type":
            "Load Image From Url (mtb)",     "_meta": {       "title": "Load Image
            From Url (mtb)"     }   },   "152": {     "inputs": {       "image": "1
            (1).jpg",       "upload": "image"     },     "class_type": "LoadImage",     "_meta":
            {       "title": "加载图像"     }   } }'
        tool_label: 工作流
        tool_name: workflow
        tool_parameters:
          images:
            type: variable
            value:
            - sys
            - files
          positive_prompt:
            type: mixed
            value: '{{#1744791472214.item#}}'
        type: tool
      height: 142
      id: '1744791503263'
      parentId: '1744791472214'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 766
        y: 539
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\nimport json\n\n\ndef main(imgs: str) -> dict:\n    return {\n   \
          \     \"imgs\": json.loads(imgs),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          imgs:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1744791447374'
          - img_str
          variable: imgs
      height: 54
      id: '1744796267455'
      position:
        x: 334
        y: 471
      positionAbsolute:
        x: 334
        y: 471
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 330.3999999999999
      y: -132.2
      zoom: 0.7
