dify/backup/bbq/img2text.yml
app:
  description: 反推提示词
  icon: 📙
  icon_background: '#FBE8FF'
  mode: workflow
  name: img2text
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1746638919559-source-1746640678946-target
      selected: false
      source: '1746638919559'
      sourceHandle: source
      target: '1746640678946'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1746640678946-true-1746638935153-target
      selected: false
      source: '1746640678946'
      sourceHandle: 'true'
      target: '1746638935153'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1746638935153-source-1746638980099-target
      selected: false
      source: '1746638935153'
      sourceHandle: source
      target: '1746638980099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1746640678946-793841bc-77bc-4ca3-9e75-327d5d987bb3-1747584585004-target
      selected: false
      source: '1746640678946'
      sourceHandle: 793841bc-77bc-4ca3-9e75-327d5d987bb3
      target: '1747584585004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1747584585004-source-1747584706684-target
      selected: false
      source: '1747584585004'
      sourceHandle: source
      target: '1747584706684'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747584706684'
        sourceType: iteration-start
        targetType: http-request
      id: 1747584706684start-source-1747584714163-target
      selected: false
      source: 1747584706684start
      sourceHandle: source
      target: '1747584714163'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1747584706684-source-1747588253299-target
      source: '1747584706684'
      sourceHandle: source
      target: '1747588253299'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1747588253299-source-1746641323193-target
      source: '1747588253299'
      sourceHandle: source
      target: '1746641323193'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: img
          max_length: 48
          options: []
          required: false
          type: file
          variable: img
        - label: img_url
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: img_url
      height: 116
      id: '1746638919559'
      position:
        x: -315.7142857142858
        y: 267.5
      positionAbsolute:
        x: -315.7142857142858
        y: 267.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1746638919559'
            - img
            key: image
            type: file
            value: '@/home/qinbinbin/Desktop/girl.jpg'
          type: form-data
        desc: ''
        headers: ''
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 5000
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.2.5:8080/process_image
        variables: []
      height: 135
      id: '1746638935153'
      position:
        x: 534.2687239260207
        y: 212.37323172853786
      positionAbsolute:
        x: 534.2687239260207
        y: 212.37323172853786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1746638935153'
          - body
          variable: body
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1746638980099'
      position:
        x: 898.9145485984179
        y: 212.37323172853786
      positionAbsolute:
        x: 898.9145485984179
        y: 212.37323172853786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: d3bc0031-e349-43e7-a4ce-deb4f9dd2df4
            value: ''
            varType: file
            variable_selector:
            - '1746638919559'
            - img
          id: 'true'
          logical_operator: and
        - case_id: 793841bc-77bc-4ca3-9e75-327d5d987bb3
          conditions:
          - comparison_operator: not empty
            id: 32520bd7-ad43-4ab2-a462-3e628ff056b8
            value: ''
            varType: string
            variable_selector:
            - '1746638919559'
            - img_url
          id: 793841bc-77bc-4ca3-9e75-327d5d987bb3
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 174
      id: '1746640678946'
      position:
        x: 166.8571428571429
        y: 267.5
      positionAbsolute:
        x: 166.8571428571429
        y: 267.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1747588253299'
          - result
          variable: result
        selected: false
        title: 结束 2
        type: end
      height: 90
      id: '1746641323193'
      position:
        x: 1555.3618939688986
        y: 409.8671126259679
      positionAbsolute:
        x: 1555.3618939688986
        y: 409.8671126259679
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(arg1: str) -> dict:\n    return {\n       \
          \ \"result\": json.loads(arg1),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 拆分为单个url
        type: code
        variables:
        - value_selector:
          - '1746638919559'
          - img_url
          variable: arg1
      height: 54
      id: '1747584585004'
      position:
        x: 519.8785423510648
        y: 437.5707353989353
      positionAbsolute:
        x: 519.8785423510648
        y: 437.5707353989353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 223
        is_parallel: false
        iterator_selector:
        - '1747584585004'
        - result
        output_selector:
        - '1747584714163'
        - body
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1747584706684start
        title: 迭代
        type: iteration
        width: 388
      height: 223
      id: '1747584706684'
      position:
        x: 799.0467191277431
        y: 390.0484397866523
      positionAbsolute:
        x: 799.0467191277431
        y: 390.0484397866523
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 388
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1747584706684start
      parentId: '1747584706684'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 823.0467191277431
        y: 458.0484397866523
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-20
            key: ''
            type: text
            value: '{"url": "{{#1747584706684.item#}}"}'
          type: json
        desc: ''
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1747584706684'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 3
        type: http-request
        url: http://192.168.2.5:8080/process_image_urls
        variables: []
      height: 135
      id: '1747584714163'
      parentId: '1747584706684'
      position:
        x: 127.6715125557007
        y: 67.91483658851496
      positionAbsolute:
        x: 926.7182316834438
        y: 457.96327637516725
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    return {\n        \"result\": [json.loads(i.replace(\"\
          \\\\n\", '')) for i in arg1],\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 删除提示词中的换行符
        type: code
        variables:
        - value_selector:
          - '1747584706684'
          - output
          variable: arg1
      height: 54
      id: '1747588253299'
      position:
        x: 1257.5757680573531
        y: 409.8671126259679
      positionAbsolute:
        x: 1257.5757680573531
        y: 409.8671126259679
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -170.3182402885907
      y: -44.924103586625336
      zoom: 0.9033937433162456
