dify/backup/bbq/svg2eps.yml
app:
  description: svg2eps
  icon: man-surfing
  icon_background: '#FCE7F6'
  mode: workflow
  name: svg2eps
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1743668368934-source-1743701217488-target
      source: '1743668368934'
      sourceHandle: source
      target: '1743701217488'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1743701217488-source-1743701305005-target
      source: '1743701217488'
      sourceHandle: source
      target: '1743701305005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1743701305005-source-1743701375988-target
      source: '1743701305005'
      sourceHandle: source
      target: '1743701375988'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: svg
          max_length: 2000
          options: []
          required: true
          type: file
          variable: svg
      height: 90
      id: '1743668368934'
      position:
        x: 185.56322147895696
        y: 236.26954281786536
      positionAbsolute:
        x: 185.56322147895696
        y: 236.26954281786536
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1743668368934'
            - svg
            id: key-value-5
            key: svg_file
            type: file
            value: ''
          - id: key-value-6
            key: run_id
            type: text
            value: '{{#sys.workflow_run_id#}}'
          - id: key-value-7
            key: ''
            type: text
            value: ''
          type: form-data
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.2.5:8080/convert_svg_to_eps
        variables: []
      height: 135
      id: '1743701217488'
      position:
        x: 493.0581575007967
        y: 236.26954281786536
      positionAbsolute:
        x: 493.0581575007967
        y: 236.26954281786536
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nimport json\ndef main(arg1: str) -> dict:\n    return {\n       \
          \ \"result\": f\"http://dify.html5core.com/svg/{arg1}.eps\",\n    }\n\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - sys
          - workflow_run_id
          variable: arg1
      height: 54
      id: '1743701305005'
      position:
        x: 780.6590325166469
        y: 289.75463468934225
      positionAbsolute:
        x: 780.6590325166469
        y: 289.75463468934225
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743701305005'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1743701375988'
      position:
        x: 1078.8424202429214
        y: 289.75463468934225
      positionAbsolute:
        x: 1078.8424202429214
        y: 289.75463468934225
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -365.9182722275798
      y: -22.527850764809898
      zoom: 0.978411698672256
