dify/backup/thanos/singleCopyAliToAliProduct_20250509.yml
app:
  description: Copy Alibaba Product to Alibaba Product with Chrome插件版
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: singleCopyAliToAliProduct
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.21@cb32d252bc1ebc61437c9134e22db2be5ccdd48223e08b9ea0deff4f0df0a187
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1743484650099-source-17434962209240-target
      source: '1743484650099'
      sourceHandle: source
      target: '17434962209240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17434962209240-source-1744718197090-target
      source: '17434962209240'
      sourceHandle: source
      target: '1744718197090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1744783360174-source-1743485700810-target
      source: '1744783360174'
      sourceHandle: source
      target: '1743485700810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1744718197090-source-1744789212844-target
      source: '1744718197090'
      sourceHandle: source
      target: '1744789212844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1744789212844-source-1744793747535-target
      source: '1744789212844'
      sourceHandle: source
      target: '1744793747535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1744793747535-source-1744783360174-target
      source: '1744793747535'
      sourceHandle: source
      target: '1744783360174'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: traceId
          max_length: 200
          options: []
          required: true
          type: text-input
          variable: traceId
        - label: product
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: product
      height: 116
      id: '1743484650099'
      position:
        x: -223.1868842089169
        y: 85.50237319586321
      positionAbsolute:
        x: -223.1868842089169
        y: 85.50237319586321
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743484650099'
          - traceId
          variable: traceId
        - value_selector:
          - '1744718197090'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 116
      id: '1743485700810'
      position:
        x: 211.70895591177964
        y: 391.8761293213185
      positionAbsolute:
        x: 211.70895591177964
        y: 391.8761293213185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(product:str) -> dict:\n    item = json.loads(product)\n\
          \    return {\n        \"title\": item[\"title\"].strip(),\n        \"description\"\
          : item[\"description\"].strip(),\n        \"reference_product\": item[\"\
          prodid\"].strip(),\n        \"reference_product_platform\": item[\"reference_product_platform\"\
          ].strip(),\n        \"img_str\": json.dumps(item[\"imgs\"]),\n        \"\
          product_type\": item[\"product_type\"].strip(),\n        \"employee\": item[\"\
          employee\"].strip(),\n        \"published_shop\": item[\"published_shop\"\
          ].strip()\n    }"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743490511226'
        outputs:
          description:
            children: null
            type: string
          employee:
            children: null
            type: string
          img_str:
            children: null
            type: string
          product_type:
            children: null
            type: string
          published_shop:
            children: null
            type: string
          reference_product:
            children: null
            type: string
          reference_product_platform:
            children: null
            type: string
          title:
            children: null
            type: string
        selected: false
        title: 解析商品信息
        type: code
        variables:
        - value_selector:
          - '1743484650099'
          - product
          variable: product
      height: 54
      id: '17434962209240'
      position:
        x: -225.0505969815903
        y: 264.37232554827983
      positionAbsolute:
        x: -225.0505969815903
        y: 264.37232554827983
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 864daea9-18a0-4a37-83f8-8e4a63b60039
          role: system
          text: "# 角色设定\n你是一个专业的电商新品开发助手，专注于贴纸、标签、书签一类的印刷产品的开发，可以通过参考电商标题与商品类型生成新的类似电商商品文案。\n\
            \n# 输入\n输入的参考电商商品信息，包括商品的标题和商品类型。\n## 示例：\ntitle: Boho Stickers with Positive\
            \ Quotes Cute Aesthetic Bohemian Stickers for Scrapbooking Laptop Phone\
            \ Skateboard Computer Water\nproduct_type: sticker\n\n# 商品参考维度\n## Material（材质）\n\
            - paper\n- photo paper\n- rice paper\n- art paper\n- coated paper\n- writing\
            \ paper\n- cardstock\n- biodegradable fire retardant paper\n- colorful\
            \ foiled paper\n- kraft paper\n\n## Shape（形状）\n- Hexagon\n- ROUND\n- Oval\n\
            - Animal\n- Customized\n- Cylinder\n- Rectangle\n- Heart\n- Diamond\n\n\
            ## Style（风格）\n- Angel\n- Folk Art\n- Artificial\n- Feng Shui\n- Religious\n\
            - Animal\n- Buddhism\n- Cross\n- FAIRY\n- Flower\n- Letters\n- Love\n\
            - MASCOT\n- Music\n- Patriotism\n- PYRAMID\n- Sports\n- TV & Movie Character\n\
            \n## Scene/Holiday（适用场景或节日）\n- Art and Collectible\n- Wedding Decoration\
            \ & Gift\n- Holiday Decoration & Gift\n- Souvenir\n- home decoration\n\
            - Business Gift\n- April Fool\n- Back to School\n- Chinese New Year\n\
            - Christmas\n- Earth Day\n- Easter\n- Father's Day\n- Graduation\n- Halloween\n\
            - Mother's Day\n- New Year\n- Thanksgiving\n- Valentine's Day\n\n## Printing\
            \ Method（印刷方式）\n- Thermal transfer printing\n- Offset printing\n- Silk\
            \ screen printing\n- Gravure printing\n- Letterpress printing\n- Die cutting\
            \ printing\n- UV printing\n- Embossing printing\n- Digital printing\n\n\
            ## Production Process（生产工艺）\n- COLLAGE\n- CUT\n- handmade\n- Carved\n\
            - Origami\n- Quilling\n\n## Features（特点）\n- Waterproof\n- Reusable\n-\
            \ Anti-UV\n- Eco-Friendly\n- Anti-static\n- Removable\n- tear resistant\n\
            - Self-Adhesive\n- water & oil proof\n- withstands high and low temperature\n\
            - writeable sticker\n- Breathable\n- Plus Size\n\n# 生成规则\n- 根据输入的 product_type\
            \ 明确要生成的商品类型，再基于输入的 title 深入理解后，生成新的商品文案。\n- 根据输入商品信息，生成更具竞争力的阿里国际站商品文案。保持核心卖点，但针对国际站买家偏好优化表达方式。\n\
            - 生成的文案信息中 description, tags 中避免出现侵权词，以免产生法律纠纷。\n- 生成的新商品文案信息以 json 格式输出。\n\
            \n- description 字段：\n  - 从原有商品信息中提取关键特性和使用场景，如果没有使用场景信息，则选用商品维度信息中的一个适用场景进行扩展\n\
            \  - 可在商品维度信息中的特点、材质、适用场景或节日、风格中各选一个来进行产品的详细描述\n  - 采用简洁直接的表述，几句话描述清楚\n\
            \n- tags 字段生成规则：\n  - 核心规则：修饰词+产品中心词+应用场景， 比如：red flower stickers for\
            \ wedding decoration\n  - 使用商品维度信息中的特点、材质、适用场景或节日、风格、形状和印刷方式来生成系统化的关键词\n\
            \  - 基于长尾关键词策略，覆盖 22 个以内不重复的标签\n  - 结合热门搜索词和买家习惯用语\n  - 总长度不超过 384 字符，不少于\
            \ 330 字符\n  - 优先使用高搜索量、低竞争度的关键词\n  - 全英文小写\n\n## 特别限制\n- 生成的 json 结构体要严格按照标准的json格式输出，字段里不能有标准json格式不支持的特殊字符，如双引号等。\n\
            - 尺寸信息需规范化，如 \"3\"x2\"\" 应转换为 \"3x2\"\n- 所有生成内容必须基于原始商品信息，不得虚构或添加未经验证的信息\n\
            - 确保所有文案符合跨境电商平台的合规要求\n- 确保所有转义字符正确，特别是 emoji 和特殊符号\n- 输出不能包含 Markdown\
            \ 代码块标记（如 ```json）或其他非 json 格式的文本\n- 输出 json 内容的前后不能添加 ```json 或其他说明性信息\n\
            \n## 输出示例：\n{\n    \"description\": \"Positive Vibes Boho Watercolor Stickers\
            \ - Crafted with waterproof vinyl for long-lasting durability, these stickers\
            \ feature bohemian mandala patterns and handwritten inspirational quotes\
            \ (e.g., Stay Wild) in soft watercolor gradients. Perfect for personalizing\
            \ laptops, journals, or water bottles, they blend aesthetic appeal with\
            \ emotional uplift, ideal for students, yoga enthusiasts, or as mindful\
            \ gift additions\",\n    \"tags\": \"boho watercolor stickers positive\
            \ affirmation vinyl decals retro floral mandala art laptop skateboard\
            \ decor yoga journal scrapbooking eco-friendly removable stickers laser\
            \ die-cut edges design diy craft supplies mother’s day gift stickers inspirational\
            \ self-care quotes aesthetic hydro flask decals pastel gradient printing\"\
            \n}"
        - id: bead0459-1d6b-494d-988f-bac67cbfc598
          role: user
          text: 'title: {{#17434962209240.title#}}

            product_type: {{#17434962209240.reference_product#}}

            '
        selected: false
        title: 新品文案
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1744718197090'
      position:
        x: -223.1868842089169
        y: 391.8761293213185
      positionAbsolute:
        x: -223.1868842089169
        y: 391.8761293213185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: workflow_run_id
            ja_JP: workflow_run_id
            pt_BR: workflow_run_id
            zh_Hans: workflow_run_id
          llm_description: ''
          max: null
          min: null
          name: workflow_run_id
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: item
            ja_JP: item
            pt_BR: item
            zh_Hans: item
          llm_description: ''
          max: null
          min: null
          name: item
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: img
            ja_JP: img
            pt_BR: img
            zh_Hans: img
          llm_description: ''
          max: null
          min: null
          name: img
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: files
        params:
          img: ''
          item: ''
          workflow_run_id: ''
        provider_id: 419f3059-7e8d-467f-aff6-ab6994d9bb61
        provider_name: uploadImgProduct
        provider_type: workflow
        selected: false
        title: uploadImgProduct
        tool_configurations: {}
        tool_label: uploadImgProduct
        tool_name: uploadImgProduct
        tool_parameters:
          img:
            type: variable
            value:
            - '1744793747535'
            - files
          item:
            type: mixed
            value: '{{#1744789212844.item#}}'
          workflow_run_id:
            type: mixed
            value: '{{#sys.workflow_run_id#}}'
        type: tool
      height: 54
      id: '1744783360174'
      position:
        x: 211.70895591177964
        y: 285.78887187543137
      positionAbsolute:
        x: 211.70895591177964
        y: 285.78887187543137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(text: str, reference_product: str, reference_product_platform:\
          \ str, product_type: str, employee: str, published_shop: str, title: str)\
          \ -> dict:\n    json_text = json.loads(text)\n    json_text[\"reference_product\"\
          ] = reference_product\n    json_text[\"reference_product_platform\"] = reference_product_platform\n\
          \    json_text[\"product_type\"] = product_type\n    json_text[\"employee\"\
          ] = employee\n    json_text[\"published_shop\"] = published_shop\n    json_text[\"\
          title\"] = title.replace('\\'', '').replace('\\\"', '')\n    json_text[\"\
          hotword\"] = \"\"\n    \n    return {\n        \"item\": json.dumps(json_text)\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          item:
            children: null
            type: string
        selected: false
        title: 合并参数
        type: code
        variables:
        - value_selector:
          - '1744718197090'
          - text
          variable: text
        - value_selector:
          - '17434962209240'
          - reference_product
          variable: reference_product
        - value_selector:
          - '17434962209240'
          - reference_product_platform
          variable: reference_product_platform
        - value_selector:
          - '17434962209240'
          - product_type
          variable: product_type
        - value_selector:
          - '17434962209240'
          - employee
          variable: employee
        - value_selector:
          - '17434962209240'
          - published_shop
          variable: published_shop
        - value_selector:
          - '17434962209240'
          - title
          variable: title
      height: 54
      id: '1744789212844'
      position:
        x: 211.70895591177964
        y: 85.50237319586321
      positionAbsolute:
        x: 211.70895591177964
        y: 85.50237319586321
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: imgs
            ja_JP: imgs
            pt_BR: imgs
            zh_Hans: imgs
          llm_description: ''
          max: null
          min: null
          name: imgs
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: files
        params:
          imgs: ''
        provider_id: 4a25addb-f0c8-440e-95b9-974275238941
        provider_name: img2img
        provider_type: workflow
        selected: false
        title: img2img
        tool_configurations: {}
        tool_label: img2img
        tool_name: img2img
        tool_parameters:
          img_str:
            type: mixed
            value: '{{#17434962209240.img_str#}}'
          imgs:
            type: variable
            value: []
        type: tool
      height: 54
      id: '1744793747535'
      position:
        x: 211.70895591177964
        y: 177.13498723327274
      positionAbsolute:
        x: 211.70895591177964
        y: 177.13498723327274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 505.0206246631653
      y: -45.826650058660675
      zoom: 1.27022911325583
